@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Blog Summary Page</title>
    </head>
    <body>
        <div>
            <h1>Blog Summary Page</h1>  
        </div>
    </body>
</html>