<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="0208bd00-2868-4cd6-9562-6f64861b8d04"
            Publisher="CN=Jerrel"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>XamlBasedAppExample</DisplayName>
    <PublisherDisplayName>Jerrel</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="XamlBasedAppExample.App">
        <VisualElements
            DisplayName="XamlBasedAppExample"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="XamlBasedAppExample"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>